
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  fill: currentcolor;
  transition: transform .25s ease-in-out;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.card {
  border-radius: .7rem;
}
@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #a1c4fd;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
  background-image: url(../imagens/low-poly-grid-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

  .bg-indigo {
  background-color: #4835d4;
  }
  @media (min-width: 992px) {
  .card-registration-2 .bg-indigo {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  }
  }
  @media (max-width: 991px) {
  .card-registration-2 .bg-indigo {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  }
  }

  .form-signin {
    max-width: 330px;
    padding: 50px;
  }
  
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .backgroundd12 {
    background: #fff7e9;
    padding: 100px 65px;
    width: 495px;
    border-radius: 20px;
  }